#Conditional block

Tertinary operator

In [ ]:
is_friend = False

is_conditioned = "Message allowed" if is_friend else "Don't Allow"

In [ ]:
print(is_conditioned)

Don't Allow

In [ ]:
is_magician = False

is_expert = True

if is_magician and is_expert:
  print("Master magician")
elif is_magician or is_expert:
  print("Atleast you are getting there")
else:
  print("You need magic power or expert")

Atleast you are getting there

In [ ]:
int("1") is 1

True

In [ ]:
"1" is 1

False

In [ ]:
True is 1

False

In [ ]:
bool(True) is 1

False

##Loops

In [ ]:
for item in "Mukeshraj":
  print(item)

M
u
k
e
s
h
r
a
j

In [ ]:
for x in [1,2,3]:
  for y in [4,5,6]:
    print(x, y)
  print(x,y)
print(x,y)

1 4
1 5
1 6
1 6
2 4
2 5
2 6
2 6
3 4
3 5
3 6
3 6
3 6

## Iterables

In [ ]:
user = {
    'name' : "Mukeshraj M",
    "age" : 25,
    "is_good" : True
}

In [ ]:
user

{'age': 25, 'is_good': True, 'name': 'Mukeshraj M'}

In [ ]:
for item in user:
  print(item)

name
age
is_good

In [ ]:
for item in user.items():
  print(item)

('name', 'Mukeshraj M')
('age', 25)
('is_good', True)

In [ ]:
for item in user.keys():
  print(item)

name
age
is_good

In [ ]:
for item in user.values():
  print(item)

Mukeshraj M
25
True

In [ ]:
for key, values in user.items():
  print(key,values)

name Mukeshraj M
age 25
is_good True

In [ ]:
num =list(range(1,20))

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
sum = 0

for item in num:
  sum =sum+item
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190

In [ ]:
print(sum)

190

In [ ]:
for i in range(0,5):
  print("Mukesh")

Mukesh
Mukesh
Mukesh
Mukesh
Mukesh

In [ ]:
for i in enumerate("Mukesh"):
  print(i)

(0, 'M')
(1, 'u')
(2, 'k')
(3, 'e')
(4, 's')
(5, 'h')

In [ ]:
for i,char in enumerate("Mukesh"):
  print(i,char)

0 M
1 u
2 k
3 e
4 s
5 h

In [ ]:
for i, c in enumerate(list(range(1,100))):
  print(i,c)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
10 11
11 12
12 13
13 14
14 15
15 16
16 17
17 18
18 19
19 20
20 21
21 22
22 23
23 24
24 25
25 26
26 27
27 28
28 29
29 30
30 31
31 32
32 33
33 34
34 35
35 36
36 37
37 38
38 39
39 40
40 41
41 42
42 43
43 44
44 45
45 46
46 47
47 48
48 49
49 50
50 51
51 52
52 53
53 54
54 55
55 56
56 57
57 58
58 59
59 60
60 61
61 62
62 63
63 64
64 65
65 66
66 67
67 68
68 69
69 70
70 71
71 72
72 73
73 74
74 75
75 76
76 77
77 78
78 79
79 80
80 81
81 82
82 83
83 84
84 85
85 86
86 87
87 88
88 89
89 90
90 91
91 92
92 93
93 94
94 95
95 96
96 97
97 98
98 99

In [ ]:
for i, c in enumerate(list(range(1,100))):
  if c == 50:
    print(i,c)

49 50

## while loop

In [ ]:
i = 30

while i<50:
  i += 1
  print(i)
else:
  print("its great")

31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
its great

In [ ]:
while True:
  response = input("Say something:")
  if (response == 'bye'):
    print(response)
    break

Say something:hi
Say something:hi
Say something:hi
Say something:bye
bye

In [ ]:
picture = [
  [0,0,0,1,0,0,0],
  [0,0,1,1,1,0,0],
  [0,1,1,1,1,1,0],
  [1,1,1,1,1,1,1],
  [0,0,0,1,0,0,0],
  [0,0,0,1,0,0,0]
]

In [ ]:
picture

[[0, 0, 0, 1, 0, 0, 0],
 [0, 0, 1, 1, 1, 0, 0],
 [0, 1, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0]]

Christmas tree

In [ ]:
for row in picture:
  for column in row:
    if column ==1:
      print("*",end=" ")
    else:
      print(end="  ")
  print("")# Need a new line so we have print statement

      *
    * * *
  * * * * *
* * * * * * *
      *
      *

In [ ]:
n = int(input("Enter the number of rows:"))

for i in range(0,n):
  for j in range(0,i):
    print("*",end=" ")
  print("")

Enter the number of rows:7

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
n = int(input("Enter the number of rows:"))

for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print("")

Enter the number of rows:8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

##Checking diplicates in the list

In [ ]:
a = ['a','b','c','a','n','b']
d=[]
for i in a:
  if a.count(i) > 1:
    if i not in d:
      d.append(i)
print(d)

['a', 'b']

##Function

In [ ]:
a = list(range(0,10))

In [ ]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sum(list(range(1,10)))

45

In [ ]:
def add():
  for i in list(range(1,50)):
    print(i)

In [ ]:
add()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
def say_hello(name, age):
  print(f'helllllllllllllloooooooooooooooooooo:{name},{age}')

In [ ]:
say_hello("Mukesh",24)

helllllllllllllloooooooooooooooooooo:Mukesh,24

In [ ]:
say_hello("Lokesh",19)

helllllllllllllloooooooooooooooooooo:Lokesh,19

In [ ]:
say_hello(age=24,name="Mukesh")

helllllllllllllloooooooooooooooooooo:Mukesh,24

In [ ]:
say_hello(24,"Mukesh")

helllllllllllllloooooooooooooooooooo:24,Mukesh